<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Login</title>

  <link rel="stylesheet" href="/css/loginpagestyle.css">
</head>

<body>
<div class="container">

  <form class="login" th:action="@{/login}" method="post">
    <h1 class="login-title">Login</h1>
    <p class="login-subtitle">Log in to your account to continue.</p>

    <input type="hidden"
           th:if="${_csrf != null}"
           th:name="${_csrf.parameterName}"
           th:value="${_csrf.token}"/>

    <div class="login-group">
      <label class="login-label" for="username">Username:</label>
      <input class="login-field" id="username" type="text"
             placeholder="Enter your username."
             name="username"
             autocomplete="username"
             autofocus />
    </div>

    <div class="login-group">
      <label class="login-label" for="password">Password:</label>
      <input class="login-field" id="password" type="password"
             placeholder="Enter your password"
             name="password"
             autocomplete="current-password"/>
    </div>

    <div class="login-row">
      <label class="login-checkbox">
        <input type="checkbox" name="remember-me"/>
        <span>Remember me.</span>
      </label>

      <a th:href="@{/forgot-password}" class="login-link">Forgot your password?</a>
    </div>

    <button class="login-button" type="submit">Login</button>


    <div class="login-error"
         th:if="${param.error}"
         style="color:red">
      Invalid username or password.
    </div>

    <div class="login-message"
         th:if="${param.logout}"
         style="color:green">
      You have been logged out successfully.
    </div>

    <div class="login-footer">
      Don’t have an account?
      <a th:href="@{/register}" class="login-link">Register</a>
    </div>
  </form>
</div>
</body>
</html>
